$color__primary: #c4161c;

// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #fff;
$color__background-hr: #ccc;
$color__background-button: $color__primary;
$color__background-button-hover: #111;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix(
  $color__background-body,
  $color__background-button,
  75%
);

// Text
$color__text-main: #111;
$color__text-light: #767676;
$color__text-hover: lighten($color__text-main, 22.5%);
$color__text-screen: darken($color__primary, 10%);
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $color__primary;
$color__link-visited: $color__primary;
$color__link-hover: darken($color__link, 10%);

$color__border: #ccc;
$color__border-link: $color__primary;
$color__border-link-hover: darken($color__link, 10%);
$color__border-button: #ccc #ccc #999;
$color__border-button-hover: #ccc #999 #aaa;
$color__border-button-focus: #aaa #999 #999;
$color__border-input: $color__border;
$color__border-abbr: #666;

// Fonts
$font__heading: "PT Serif", Georgia, "Times New Roman", Times, serif;
$font__body: "Source Serif Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size-base: 20px;
$font__size-xs: .7rem;
$font__size-sm: .9rem;
$font__size-md: 1rem;
$font__size-lg: 1.5rem;
$font__size-xl: 2rem;
$font__size-xxl: 2.5rem;
$font__size-xxxl: 3rem;

$font__line-height-body: 1.4;
$font__line-height-pre: 1.3;
$font__line-height-heading: 1.2;

$mobile_width: 480px;
$tablet_width: 768px;
$desktop_width: 1168px;
$wide_width: 1379px;

$link_transition: 110ms;
$icon_transition: 120ms;
$button_transition: 150ms;
$background_transition: 200ms;
