/** === Footer menu === */

.footer-navigation {
  display: block;

  & > div {
    display: block;
  }

  .footer-menu {
    display: block;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
